/// --------------------------------------------------------------------------------------------------------------------------
/// Configuration and helpers
/// --------------------------------------------------------------------------------------------------------------------------
///
/// The 'abstracts' folder gathers all Sass tools and helpers used accross the project.
/// Every global variable, function, mixin and placeholder should be put here.
///
/// The rule of thumb for this folder is that it should not output a single line of CSS when compiled on its own.
/// These are nothing but Sass helpers.
///
/// @see https://sass-guidelin.es/#abstracts-folder
///
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import 'abstracts/variables';

/// --------------------------------------------------------------------------------------------------------------------------
/// Vendors
/// --------------------------------------------------------------------------------------------------------------------------
///
/// Most projects will have a 'vendors' folder containing all the CSS files from external libraries and frameworks.
/// Putting those aside in the same folder is a good way to say "Hey, tis is not from me, not my code, not my responsibility."
///
/// If you have to override a section of any vendor, I recommend you have an 8th folder colled 'vendor-extensions'
/// in which you have files named exactly after the vendors they overwrite. For instance, 'vendor-extendsions/_bootstrap.scss'
/// is a file containing all CSS rules to intended to re-declare some of Bootstrap's default CSS.
/// This is to avoid editing the vendor files themselves, which is not generally not a good idea.
///
/// @see https://sass-guidelin.es/#vendors-folder
///
@import 'bootstrap/scss/bootstrap';

/// --------------------------------------------------------------------------------------------------------------------------
/// Layout-related sections
/// --------------------------------------------------------------------------------------------------------------------------
///
/// The 'layout' folder contains everything that takes part in laying out the site or application.
/// This foilder could have stylesheets for the main parts of the site (header, footer, navigation, sidebar...),
/// the grid system or even CSS styles for all the froms.
///
/// @see https://sass-guidelin.es/#layout-folder
///
@import 'layout/page-headers';
@import 'layout/list-groups';

/// --------------------------------------------------------------------------------------------------------------------------
/// Components
/// --------------------------------------------------------------------------------------------------------------------------
///
/// For small components, there is the 'components/' folder.
/// While 'layout/' is macro (defining the global wireframe), 'components/' is more focused on widgets.
/// It contains all kind of specific modules like a slider, a loader, a widget, and basiclly anything those lines.
/// There are usually a lot of files in components/ since the whole site/application should be mostly composed of tiny modules.
///
/// @see https://sass-guidelin.es/#components-folder
///
@import 'components/buttons';
@import 'components/labels';

.card-header-danger {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    background-color: #fee2e2;
    color: #dc2626;
    font-weight: bold;
    border-bottom: 0;
}

.nav-settings {
    border-bottom: 1px solid darken($body-bg, 10%);

    .nav-link {
        color: #6c757d;
    }

    .nav-link.active,
    .nav-link:hover {
        color: #3AA99F;
        border-bottom: 1px solid;
        background-color: transparent;
        border-collapse: collapse !important;
        border-color: transparent transparent #3AA99F;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px; // Margin bottom by footer height
}

.color-brand {
    font-weight: bolder !important;
    color: #3AA99F;
}

label {
    margin-bottom: .25rem;
}

/// Vendor extension
.breadcrumb {
    padding: 0;
    margin-bottom: -3px;;
    background-color: transparent
}

.form-section-title {
    font-weight: 400;
    color: rgb(139, 126, 200);
}

.card-header-logins {
    background-color: #fef2f2;
    font-weight: bold;
    color: #dc2626;
    border-bottom: 0;
}

@media (max-width: 991.98px) {
    .offcanvas-collapse {
        position: fixed;
        top: 56px; /* Height of navbar */
        bottom: 0;
        left: 100%;
        width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        visibility: hidden;
        background-color: #343a40;
        transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
        transition: transform .3s ease-in-out, visibility .3s ease-in-out;
        transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
    }
    .offcanvas-collapse.open {
        visibility: visible;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    color: rgba(255, 255, 255, .75);
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
    color: #6c757d;
}

.icon-subnav {
    margin-right: 0.25rem !important;
    color: #3AA99F;
}

.nav-underline .nav-link:hover {
    color: #007bff;
}

.nav-underline .active {
    font-weight: 500;
    color: #343a40;
}

.navbar-dark {
    background: rgb(16,15,15);
    background: linear-gradient(90deg, rgba(16,15,15,1) 0%, rgba(40,39,38,1) 35%, rgba(52,51,49,1) 100%);
}

.icon-brand {
    width: 1.1em;
    height: 1.1em;
    font-size: 16px;
    vertical-align: -0.2em;
    color: #3AA99F;
}

.icon {
    width: 1em;
    height: 1em;
    font-size: 16px;
    vertical-align: -0.2em;

    /// The class that is responsible for given the icons in the main navbar the needed color
    &.icon-navbar {
        color: #D0A215;
    }

    &:hover {
        text-decoration: none;
    }
}
