.label-unknown {
    background-color: #f8fafc;
    color: #94a3b8;
}

.label-user {
    background-color: #ede9fe;
    color: #a855f7;
}

.label-researcher,
.label-current-device {
    background-color: #eff6ff;
    color: #818cf8;
}

.label-webmaster,
.label-offline {
    background-color: #ffe4e6;
    color: #e11d48;
}

.label-administrator,
.label-online {
    background-color: #dcfce7;
    color: #22c55e;
}
